<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 习惯上设置成包名+sql映射文件名称 -->
<mapper namespace="liaody.entity.mapper.ManyDataMapper">
	<!-- 增加用户 -->
	<insert id="saveOrUpdateDate"  parameterType="java.util.List">
		INSERT INTO userinfo(userId,username,password,userEmail,age)
		VALUES
		<foreach collection="list"  item="item" index="index" separator=",">
			(#{item.userId},
			#{item.username},
			#{item.password},
			#{item.userEmail},
			#{item.age}
		)
		</foreach>
		ON DUPLICATE KEY UPDATE
		age = CASE userId
		<foreach collection="list" item="item" index="index">
			WHEN #{item.userId} then #{item.age}
		</foreach>
		END
	</insert>	
</mapper>