<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 习惯上设置成包名+sql映射文件名称 -->
<mapper namespace="liaody.entity.mapper.UserInfoMapper">
	<resultMap type="liaody.entity.UserInfo" id="BaseResultMap">
		<!-- 主key使用id，非主key使用result -->
		<id column="userId" property="userId" jdbcType="INTEGER"></id>
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="userEmail" property="userEmail" jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="profilePicture" property="profilePicture"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		userId,username,password,userEmail,age,profilePicture
	</sql>
	<select id="selectByPrimaryKey" parameterType="int" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from userinfo where userId=#{userId,jdbcType=CHAR}
	</select>
	<insert id="save" parameterType="liaody.entity.UserInfo"
		useGeneratedKeys="true">
		INSERT INTO
		userinfo(username,password,userEmail,age)
		values
		(#{username},#{password},#{userEmail},#{age})
	</insert>
	<!-- 创建用户 -->
	<insert id="addUser" parameterType="liaody.entity.UserInfo">
		insert into userinfo values(
		<include refid="Base_Column_List" />
		)
	</insert>
	<!-- 删除用户 -->
	<delete id="deleteUser" parameterType="int">
		delete from userinfo where
		userId = #{userId}
	</delete>
	<!-- 修改用户 -->
	<update id="updateUser" parameterType="liaody.entity.UserInfo">
		update userinfo set
		username=#{username},password=#{password},userEmail=#{userEmail},age=#{age}
	</update>
	<!-- 查询全部用户 -->
	<select id="getAllUsers" resultType="liaody.entity.UserInfo">
		select * from userinfo
	</select>
</mapper>